@CHARSET "UTF-8";
html {
	margin-top: 200px;
}
body {
	
	margin-left: 38%;
	background-color: skyblue;
}
h1 {
	
	color: white;
	font-family: dax;
	font-size:
	}
#welcome {
	color: white;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}

nav ul{display:inline; !important}

#header {
	padding-left: auto;
	padding-right: auto;
}

#id { background-color: skyblue;}
#password { background-color: skyblue;}






