@CHARSET "UTF-8";
#welcome {
	color: white;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}

#loginButton {
    background-color: white;
    color: skyblue;
    border-color: white;
}

nav ul{display:inline;}
