@CHARSET "UTF-8";
#welcome {
	color: white;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

#loginButton {
    background-color: white;
    color: skyblue;
    border-color: white;
}

nav ul{display:inline;}

body {
	background-color: skyblue;
}

#id {
	float: right;
	height: 24px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

#password {
	float: right;
	height: 24px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
	
.logButton {
	 margin-top: 0px;
    height: 53px;
    margin-left: 5px;
	float: right;
	border-color: white;
    border-radius: 3px;
    background-color: white;
    color: skyblue;
    width: 80px;
}



#logoutButton {
	float: right;
}
#logoutButton:hover {
	color: black;
	cursor: pointer;
}




.mainBlock {
	border: 3px solid white;
	width: 350px;
    height: 400px;
	float: left;
	margin-right: 70px;
    margin-left: 70px;
    margin-top: 50px;
}



#stationName {
	   	  width: 200px;
   		 height: 30px;
       	 border: 3px black solid;
       	 font-size: 20px;
		float: left;	
		 margin-left: 10px;
}

#stationSearchButton{
    margin-left: 0px;
    background-color: black;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    color: white;
    font-size: 20px;
    border-right-width: 0px;
	float: left;
	
	    width: 42px;
    height: 38px;
    padding-left: 0px;
}

#subwayRealData {
	    margin-left: 70px;
    margin-right: 97px;
    margin-top: 89px;
}

#realWeatherData {
	        margin-left: 71px;
}

#dustDate {
	    border: solid 2px black;
    width: 120px;
    height: 27px;
    font-size: 20px;
    float: left;
    margin-right: 28px;
    margin-top: 16px;    
    margin-left: 19px;
}
#locationSelect {
	float:left; 
}




.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 150px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
       width: 163px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.black   { background-color: #000; }
.black select   { color: #fff; }


#realDustData {
	margin-top: 20px;
    margin-left: 20px;
}

a#Lists.hoverIn {
	color: black;
	text-decoration: none;
}

#boardList{
	list-style: none; 
	font-size: 17px;
	padding-left: 20px; 
	color: white;
}

.listBlock{
	float: left; 
	border: 0px black solid;
	padding-right: 30px;
	padding-left: 30px;
}

#ListsNum{
	margin-left: 259px;
    margin-top: 20px;
	margin-right: 518px; 
	float: left;
}

#searchDiv {
	    margin-left: 710px;
	
}

#ListsNum ul{display:inline;}

#boardBlock {
	    height: 413px;
    margin-bottom: 200px;
    width: 1180px;
    margin-left: 30px;
    
}


.BlockTitle {
	color: white;
	font-family: fantasy;
}
