@CHARSET "UTF-8";@CHARSET "UTF-8";
#welcome {
	color: white;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}

#loginButton {
    background-color: white;
    color: skyblue;
    border-color: white;
}

nav ul{display:inline;}

body {
	background-color: skyblue;
}

#id {
	float: right;
	height: 24px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

#password {
	float: right;
	height: 24px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
	
.logButton {
	 margin-top: 0px;
    height: 53px;
    margin-left: 5px;
	float: right;
	border-color: white;
    border-radius: 3px;
    background-color: white;
    color: skyblue;
    width: 80px;
}



#logoutButton {
	float: right;
}
#logoutButton:hover {
	color: black;
	cursor: pointer;
}


.weatherImg {
	width: 50px;
}

.weatherDesc {
	font-size : 30px;
}
