<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.seoul.info.mappers.userMapper">
   <insert id="testInsert" >
      insert into test( data ) 
      values( #{data})
   </insert>
   
    <insert id="usersInsert" >
      insert into logIn( id, password, name, birth, phonenumber, address ) 
      values( #{id}, #{password}, #{name}, #{birth}, #{phoneNumber}, #{address} )
   </insert>
   
   <select id="usersCheck" parameterType="String" resultType="String" >
      select password from logIn where id = #{value}  
   </select>
   
   <select id="usersName" parameterType="String" resultType="String" >
      select name from logIn where id = #{value}  
   </select>
</mapper>